h1 {
  color: black;
  text-align: center;
  letter-spacing: 0.8px;
}
html{background-color:lightblue
}
body  {
  background-color:lightgrey;
}
h1 {
  color: black;
  text-align: center;
  letter-spacing: 0.8px;
  border: 1px solid #002;
  background-color: #ccc;
  border-radius: 5px;
 background-color:lightblue;

}
